{% extends 'base.html' %}
{% block content %}
<div class="container">
<form class="d-flex mt-3" method="get">
                                {{ filter.form.as_p }}
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
    <table class="table">
        <thead>
        <tr>
            <th>{{ name_th.0 }}</th>
            <th>{{ name_th.1 }}</th>
            <th>{{ name_th.2 }}</th>
            <th>{{ name_th.3 }}</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}

        <tr>
            <td>
                <a href="{% url 'team' team.slug %}">
                    {{ team.name }}
                </a>
                
            </td>
            <td>{{ team.city }}</td>
            <td>{{ team.created_at }}</td>
            <td>{{ team.coach.first_name}} {{ team.coach.last_name }}</td>
        </tr>
        {% endfor %}
        <!-- Добавьте другие строки по необходимости -->
        </tbody>
    </table>
</div>
{% endblock %}