{% extends 'base.html' %}
{% block content %}
<div class="container">
<form class="d-flex mt-3" method="get">
                                {{ filter.form.as_p }}
                                <button class="btn btn-outline-success" type="submit">Search</button>
                            </form>
    <table class="table">
        <thead>
        <tr>
            <th>{{ name_th.0 }}</th>
            <th>{{ name_th.1 }}</th>
            <th>{{ name_th.2 }}</th>
        </tr>
        </thead>
        <tbody>
        {% for athlete in athletes %}

        <tr>
            <td>
                <a href="{% url 'athlete' athlete.slug %}">
                    {{ athlete.first_name }} {{ athlete.last_name }}
                </a>
                
            </td>
            <td>{{ athlete.date_of_birth }}</td>
            <td>
                <a href="{% url 'team' athlete.team.slug %}">
                {{ athlete.team.name }}
                </a>
            </td>
        </tr>
            {% empty %}
            <tr>
                <td colspan="4">Спортсмены не найдены</td>
            </tr>
        {% endfor %}
        <!-- Добавьте другие строки по необходимости -->
        </tbody>
    </table>
</div>
{% endblock %}