{% extends 'base.html' %}
{% block content %}
{% load bijin_tags %}


<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>{{ name_th.0 }}</th>
            <th>{{ name_th.1 }}</th>
            <th>{{ name_th.2 }}</th>
        </tr>
        </thead>
        <tbody>
        {% for tr in competitions %}

        <tr>
            <td>
                <a href="{% url 'competition' tr.slug %}">
                    {{ tr.name }}
                </a>
                
            </td>
            <td>{{ tr.location }}</td>
            <td>{{ tr.date }}</td>
        </tr>
        {% endfor %}
        <!-- Добавьте другие строки по необходимости -->
        </tbody>
    </table>
</div>

{% endblock %}

