{% extends 'base.html' %}

{% block content %}
    <title>{{ title }}</title>
    <div class="container">
        <h1>{% if coach %}Изменить тренера{% else %}Создать тренера{% endif %}</h1>
        <form action="" method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div>{{ form.non_field_error }}</div>
            {% for f in form %}
                <p><label for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
                <div>{{ f.errors }}</div>
            {% endfor %}
            <button type="submit">Сохранить</button>
        </form>
        <div class="form-group">
            <a href="{% url 'coach_list' %}">Назад к списку</a>
        </div>
    </div>
{% endblock %}