{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>{{ name_th.0 }}</th>
                <th>{{ name_th.1 }}</th>
                <th>{{ name_th.2 }}</th>
            </tr>
            </thead>
            <tbody>
            {% for coach in coaches %}

                <tr>
                    <td>
                        <a href="{% url 'coach_detail' coach.pk %}">
                            {{ coach.first_name }}
                        </a>
                    </td>
                    <td>
                        {{ coach.last_name }}
                    </td>
                    
                    <td>
                    {{ coach.team.name }}
                    </td>
                </tr>
            {% endfor %}
            <!-- Добавьте другие строки по необходимости -->
            </tbody>
        </table>
    </div>
{% endblock %}